<?xml version="1.0"?>
<model>
  <name>Landing platform</name>
  <version>1.0</version>
  <sdf version='1.5'>landing_platform.sdf</sdf>

  <author>
   <name>Todd Stellanova</name>
   <email>tstellanova@users.noreply.github.com</email>
  </author>

  <description>
    A landing platform
  </description>
</model>