<?xml version="1.0"?>
<model>
  <name>Quadcopter ith a bunch of sensors</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_test.sdf</sdf>

  <author>
   <name>Todd Stellanova</name>
   <email>tstellanova@users.noreply.github.com</email>
  </author>


  <description>So much sensor!
  </description>
</model>
